/* Imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* General */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #1e1e2e;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/* Header */
.logo {
    margin: 1rem;
    width: 25%;
    height: auto;
    max-width: 300px;
    max-height: auto;
}

.header {
    align-items: center;
    justify-content: space-between;
}

/* Navigation */
.navigation {
    background: #181825;
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    font-size: 20px;
    font-family: montserrat;
    padding: 5% 10%;
    border-radius: 5%;
    text-transform: uppercase;
}

a:hover {
    background: #313244;
    transition: .5s;
}