/* Configuration */
:root {
    /* Catppuccin Mocha Palette */
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    /* Semantic Variables */
    --bg-base: var(--base);
    --bg-mantle: var(--mantle);
    --bg-crust: var(--crust);
    --text-main: var(--text);
    --text-sub: var(--subtext0);
    --accent: var(--mauve);
    --link-hover: var(--lavender);

    --button-bg: var(--surface0);
    --button-hover: var(--surface1);
    --button-text: var(--text);
}

/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-base);
    color: var(--text-main);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-main);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #11111b;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 10%;
    min-width: 50px;
    max-width: 80px;
    background-color: #11111b;
}

.nav-links {
    list-style: none;
    background-color: #11111b;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #11111b;
}

.nav-links li a {
    background-color: #11111b;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #cba6f7;
}

.cta {
    background-color: #11111b;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(49, 50, 68,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(69, 71, 90,0.8);
}